* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.contenedor {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.contenedor h1 {
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.formulario {
    padding: 20px;
}
.formulario h2 {
    font-size: 20px;
    color: #001e4d;
    font-weight: 600;
}
#aviso{
    font-size: 14px;
    color: #001e4d;
    font-weight: 600;
    margin: 10px 0;
    padding-left: 20px;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:disabled {
    cursor: not-allowed; /* Cambia el cursor para indicar que está bloqueado */
    position: relative;
}

#siguiente-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correcta {
    background: #9aeabc;
}
.incorrecta {
    background: #ff9393;
}